<header>
  <mat-toolbar color="primary">
    <span> Messenger Application </span>
    <span class="flex-auto"></span>
    <button mat-icon-button aria-label="settings button" [matMenuTriggerFor]="settingsMenu">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button aria-label="logout button" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
    <mat-menu #settingsMenu="matMenu">
      <button mat-menu-item (click)="openChangePasswordDialog()">
        <span>Change password</span>
      </button>
      <button mat-menu-item (click)="openChangeEmailDialog()">
        <span>Change email</span>
      </button>
      <button mat-menu-item (click)="openChangePhoneDialog()">
        <span>Change phone</span>
      </button>
      <button mat-menu-item (click)="openChangeUsernameDialog()">
        <span>Change username</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</header>
