<h1 mat-dialog-title>New password</h1>
<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
  <mat-dialog-content>
    <mat-form-field class="w-full">
      <mat-label>Enter old password</mat-label>
      <input matInput formControlName="oldPassword" type="password">
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Enter new password</mat-label>
      <input matInput formControlName="newPassword" type="password">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" [disabled]="changePasswordForm.invalid">
      Submit
    </button>
  </mat-dialog-actions>
</form>
