<mat-sidenav-container class="mt-5 mx-32 h-[calc(100vh-6rem)]">
  <mat-sidenav mode="side" opened class="w-1/5">
    <div class="p-5 flex">
      <p class="font-semibold font-sans text-6xl"> {{ username }} </p>
      <div *ngIf="users.length > 0">
        <button mat-fab [matMenuTriggerFor]="menu">
          <mat-icon>add</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <ng-container *ngFor="let user of users">
            <button mat-menu-item (click)="addChat(user)">
              {{ user }}
            </button>
          </ng-container>
        </mat-menu>
      </div>
    </div>
    <div class="border-t-white border"></div>
    <mat-list *ngFor="let chat of chats">
      <mat-list-item mat-list-item (click)="showChat(chat)"
                     [ngClass]="{'bg-gray-500': chat.id === chatRoom.id}"
                     class="hover:bg-gray-500 focus:bg-gray-200 transition-colors duration-300">
        <div class="flex justify-normal">
          <div
            class="w-12 h-12 bg-angular-primary rounded-full flex justify-center items-center text-white font-bold text-4xl">
            {{ findSecondUser(chat).substring(0, 1).toUpperCase() }}
          </div>
          <p class="text-4xl mx-3">
            {{ findSecondUser(chat) }}
          </p>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div *ngIf="userSelected()" class="flex flex-col h-full">
      <div class="sticky top-0 z-50">
        <div class="p-5 flex bg-angular-primary">
          <p class="font-semibold text-white font-sans text-6xl"> {{ chatRoom.secondUser }} </p>
        </div>
        <div class="border-t-white border"></div>
      </div>
      <div class="flex-grow overflow-auto scrollbar scrollbar-thumb-gray-500 scrollbar-track-gray-600">
        <div class="m-2" *ngFor="let group of chatRoom.messages | keyvalue">
          <h2 class="flex justify-center">{{ group.key }}</h2>
          <div *ngFor="let message of group.value" class="flex-row flex">
            <div class="mb-2.5 p-2.5 rounded-lg mx-w-md" [ngClass]="{
          'bg-gray-600 ml-auto': message.senderUsername === username,
          'bg-angular-primary': message.senderUsername === chatRoom.secondUser
          }">
              <p>{{ message.content }}</p>
              <div
                class="text-xs text-gray-400 mt-1.5 text-right"> {{ formatDateWithoutMillisecondsOrSeconds(message.time) }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-zinc-500 container">
        <mat-form-field class="p-auto w-full bg-gray-600 focus:outline-none focus:underline-offset-0" subscriptSizing="dynamic">
          <textarea [(ngModel)]="messageInput" matInput cdkTextareaAutosize
                    cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                    class="p-1 min-h-[1rem] h-auto resize-y overflow-hidden transition-all duration-200
                    scrollbar-thumb-gray-500 scrollbar-track-gray-600 scrollbar-thin"
                    placeholder="Type your message..."></textarea>
          <button (click)="sendMessage()" mat-icon-button class="p-2 ml-2" matSuffix>
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
