<mat-sidenav-container class="mt-5 mx-32 h-screen">
  <mat-sidenav mode="side" opened class="w-1/5">
    <div class="p-5 flex">
      <p class="font-semibold font-sans text-6xl"> {{ username }} </p>
    </div>
    <div class="border-t-white border"></div>
    <mat-list *ngFor="let chat of chats">
      <mat-list-item mat-list-item [activated]="chat.isActive" (click)="showChat(chat)">
        <div class="flex justify-normal">
          <div
            class="w-12 h-12 bg-angular-primary rounded-full flex justify-center items-center text-white font-bold text-4xl ">
            {{ findSecondUser(chat).substring(0, 1).toUpperCase() }}
          </div>
          <p class="text-4xl mx-3">
            {{ findSecondUser(chat) }}
          </p>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div *ngIf="userSelected()" class="flex flex-col h-full">
      <div>
        <div class="p-5 flex bg-angular-primary">
          <p class="font-semibold text-white font-sans text-6xl"> {{ chatRoom.secondUser }} </p>
        </div>
        <div class="border-t-white border"></div>
      </div>
      <div class="m-3" *ngFor="let message of chatRoom.messages">
        <div class="mb-2.5 p-2.5 rounded-lg" [ngClass]="{
          'bg-gray float-right': message.senderUsername === username,
          'bg-angular-primary float-left': message.senderUsername === chatRoom.secondUser
          }">
          <p>{{ message.content }}</p>
          <div class="text-xs text-slate-500 mt-1.5 text-right"> {{ message.date }} {{ message.time }}</div>
        </div>
      </div>
      <mat-form-field class="mt-auto w-full">
        <input [(ngModel)]="messageInput" matInput class="p-2" placeholder="Type your message...">
        <button (click)="sendMessage()" mat-icon-button class="p-2 ml-2" matSuffix>
          <mat-icon> send </mat-icon>
        </button>
      </mat-form-field>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
